@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pokemon1";
    src: url("D:\coding\pokemon-app\src\fonts\PokemonHollow.ttf");
}
@font-face {
    font-family: "Pokemon2";
    src: url("D:\coding\pokemon-app\src\fonts\PokemonSolid.ttf");
}
.strokeme {
    text-shadow: -5px -5px 0 rgb(0, 110, 255), 5px -5px 0 rgb(0, 110, 255), -5px 5px 0 rgb(0, 110, 255), 5px 5px 0 rgb(0, 110, 255);
  }